@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

nav.navbar {
    background-color: #003366;
    height: 100px;
    color: white;
    border-bottom: 1px solid white;
}

div.container-fluid {
    margin: 0;
    padding: 0;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

a.navbar-login,
a.nav-link {
    color: white;
    text-decoration: none;
}

form.d-flex {
    margin-right: 50px;
}
